@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

/* font-family: 'Montserrat', sans-serif; */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 100%;
}

.page-header {
  width: 100%;
  height: 19.2vh;
  display: block;
}

.page-header-up {
  width: 100%;
  height: 9.6vh;
  display: block;
  text-align: center;
  background: #181818;
}

.page-header-up-p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding-top: 15px;
  color: #f9f9f9;
}

.page-header-down {
  width: 100%;
  height: 9.6vh;
  display: block;
  text-align: center;
  background: #f9f9f9;
}

.page-header-down-p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  display: block;
  padding-top: 15px;
}

.page-cover {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
}

.page-cover-img {
  width: 100%;
  height: auto;
  filter: brightness(50%);
}

.page-cover-h1 {
  width: 30vw;
  display: block;
  position: absolute;
  top: 129px;
  left: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #f9f9f9;
}

.page-cover-p {
  width: 34vw;
  display: block;
  position: absolute;
  top: 187px;
  left: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 196.19%;
  font-weight: 600;
  color: #f9f9f9;
}

.main-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -4px;
  background: #f9f9f9;
}

.main-content-h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  display: block;
  margin: 58px 0 5px 0;
  color: #181818;
}

.main-content-p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #474747;
  text-align: center;
  margin-bottom: 59px;
}

.box-container {
  width: 88vw;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 39px 13px;
  margin-bottom: 100px;
}

.card-container {
  width: 280px;
  height: 282px;
  padding: 72px 10px;
  background: #ebe9ea;
}

.card-container:hover {
  filter: brightness(70%);
  cursor: pointer;
  transition: 0.5s;
}

.card-container-img {
  width: 250px;
  height: 150px;
}

.page-footer {
  width: 100%;
  height: 9.6vh;
  display: block;
  text-align: center;
  background: #181818;
}

.page-footer-p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: block;
  padding-top: 15px;
  color: #f9f9f9;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #474747;
}

::-webkit-scrollbar-thumb:hover {
  background: #353535;
}
